-----BEGIN CERTIFICATE-----
MIIFcTCCBFmgAwIBAgIBBTANBgkqhkiG9w0BAQsFADCBpDELMAkGA1UEBhMCVVMx
EzARBgNVBAgTCkNhbGlmb3JuaWExFjAUBgNVBAcTDU1pc3Npb24gVmllam8xGTAX
BgNVBAoTEFRhaXVzIFRlY2hub2xvZ3kxIDAeBgkqhkiG9w0BCQEWEXN1cHBvcnRA
dGFpdXMuY29tMRYwFAYDVQQDEw1UYWl1cyBSb290IENBMRMwEQYDVQQLEwpUZWNo
bm9sb2d5MB4XDTE4MDExNDAxNDUzOFoXDTI4MDExMjAxNDUzOFowga4xCzAJBgNV
BAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRYwFAYDVQQHEw1NaXNzaW9uIFZp
ZWpvMRkwFwYDVQQKExBUYWl1cyBUZWNobm9sb2d5MSAwHgYJKoZIhvcNAQkBFhFz
dXBwb3J0QHRhaXVzLmNvbTEgMB4GA1UEAxMXazhzLWRhc2hib2FyZC50YWl1cy5s
YW4xEzARBgNVBAsTClRlY2hub2xvZ3kwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
ggEKAoIBAQC/D3Z63GVFBh7wMS3Iu3eeNDOrFj0SDdF+uCkzGZb1umz/BcPIQ+cL
OCnPzZHcIKLZwSFVmdpAD7wqN5DH9LU+NISBKVAbnozKydxoDGRXw4tGdsVvpoE/
5ZpIO+L2K+B/eBhd3K6Zqvqg0XU4WGeDXDWYwkhHjeR0eiJ6bnnihAaWwV3B3R+f
q+HHLyR0Uo5PlfPjZgLOZtrLsggeodEBGNLRMhrunBued26brY2nh9ojjRDPMdOK
Q8i26KKQv1R/6u4OwpcvqrVuFMaPCMzDjTQ7AoXeomX7L90Pn1fyb69pk3lC9HQ1
8R+EEMkzAWaCDJ9A5589+nP7WQth31X3AgMBAAGjggGgMIIBnDAJBgNVHRMEAjAA
MBEGCWCGSAGG+EIBAQQEAwIGQDALBgNVHQ8EBAMCBaAwMwYJYIZIAYb4QgENBCYW
JE9wZW5TU0wgR2VuZXJhdGVkIFNlcnZlciBDZXJ0aWZpY2F0ZTAdBgNVHQ4EFgQU
M8nvHpBQadwc+9gajcGK5Wp+VqYwgdEGA1UdIwSByTCBxoAUslhDUp+X0JKmzRzq
LVdKF7jEklehgaqkgacwgaQxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9y
bmlhMRYwFAYDVQQHEw1NaXNzaW9uIFZpZWpvMRkwFwYDVQQKExBUYWl1cyBUZWNo
bm9sb2d5MSAwHgYJKoZIhvcNAQkBFhFzdXBwb3J0QHRhaXVzLmNvbTEWMBQGA1UE
AxMNVGFpdXMgUm9vdCBDQTETMBEGA1UECxMKVGVjaG5vbG9neYIBADAdBgNVHSUE
FjAUBggrBgEFBQcDAQYIKwYBBQUIAgIwKAYDVR0RBCEwH4IXazhzLWRhc2hib2Fy
ZC50YWl1cy5sYW6HBMCoNCgwDQYJKoZIhvcNAQELBQADggEBAAPBbujGSDVGkAtG
Ds/CXWZYyn3mEWS44FnvTvKW5J9j1/0EqL9E0zYM+B668oS8t2VE/HZX2ByR2wZN
SUB3eGGiYlW8ew+NNTKrBU3ymS3bjvxLTl8DLtVuKfSEbwilqN4SNe4dT4xMlZi/
iH79kHNLMjWLz34yP6KSzYgjpiWj+2ooLc24kCE8Ry9ckTxsO8BQcCLHPDNh8VlI
ZUsSgazSQxsiUBECJdLx0XisGIAY9FYa4XPhYsX3wxNolZ+zPsD8vi/xT7OGKpfH
TzkRXlRgFfEBapdyc1UmT6jsRf1nNG2ODY6+3feEi4BKWcpnPsPvw9dYrZnEhDqb
Gqbt2cE=
-----END CERTIFICATE-----